body {
  background-color: #CCFFFF;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: sans-serif;
  color: #660099;
}

img {
  height: 250px;
  width: 300px;

}

footer {
  clear: both;
  margin-top: 2em;
  padding-top: 0.25em;
  font-style: italic;
  font-size: smaller;
  color: gray;
  text-align: right;
  height: 5px;
}

footer p {
  margin: 0;
}

footer a {
  color: #333;
  text-decoration: underline;
}

a {
  font-weight: bold;
  font-size: 14px;

}
